logging {
  format = "json"
}

local.file_match "local_files" {
     path_targets = [{"__path__" = "/var/log/*.log"}]
     sync_period = "5s"
}

loki.process "filter_logs" {
     stage.drop {
         source = ""
         expression  = ".*Connection closed by authenticating user root"
         drop_counter_reason = "noisy"
       }
     forward_to = [loki.write.grafana_loki.receiver]
}


loki.write "grafana_loki" {
    endpoint {
      url = "http://host.docker.internal:3100/loki/api/v1/push"
    }
}